markdown-grid-tables
markdown-exec[ansi]
mkdocs-badges
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-glightbox
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-render-swagger-plugin
mkdocs-jupyter
termynal
matplotlib>=3.10
numpy>=2
pandas>=2.2
scikit-learn>=1.5
scipy>=1.14
umap-learn>=0.5.7
